extends layout 
include mixins
block content
    script(src="/javascripts/index.js" defer)
    .container     
        .header
            .vert
                .h1 #{"Squawkbox"}
                .subhead #{"sing till your hearts content"}
        .appframe
            .profile
                .you #{"You"}
                .content
                .head
                    .horiz.identification
                        .img
                            img#avatar.avatar(src=iam.avatar alt=iam.moniker + " profile image" title=iam.moniker + " profile image")
                        .moniker 
                            label.moniker(for="moniker") moniker
                            input#moniker.moniker.profile(placeholder="a nickname" value=iam.moniker)
                            input#_id._id(type="hidden" value=iam._id) 

                    .horiz.controls
                        .vert
                            label.profile_lbl(for="choose_avatar" title="update/change profile image")
                                span.material-symbols-outlined image
                            input#choose_avatar.choose_avatar(type="file")
                        .vert
                            label.profile_lbl.edit_profile(title="update/change profile image")
                                span.material-symbols-outlined(title="edit/change profile data") edit
                        
                        .vert 
                            label.profile_lbl.edit_profile(title="update/change profile image")
                                .logout 
                                    form#logout.logout(method="post" action="/logout")
                                        button#logout.logout(type="submit") 
                                            span.material-symbols-outlined(title="logout") logout 

                .main(style="display:none") 
                    ul._profile 
                        li._profile 
                            label(for="email") Email
                            input#email.email.profile(type="email" placeholder="your email address" value=iam.email)
                        li._profile 
                            label(for="forename") Forename
                            input#forename.forename.profile(placeholder="your forename" value=iam.forename)
                        li._profile 
                            label(for="surname") Surname
                            input#surname.surname.profile(placeholder="your surname" value=iam.surname)
                    .actions
                        ul.actions 
                            li._profile 
                                button#change_password.change_password 
                                    span.material-symbols-outlined(title="change password") password
                                    //- span.label change password
                            li._profile 
                                button#unregister.unregister 
                                    span.material-symbols-outlined(title="delete your account and logout") backspace 
                                    //- span.label unregister
        
                .messagestream 
                    .you #{"Messages"}
                    +new_message
                    .stream
                        ul.stream
                            each message in messages 
                                if (message.sender._id == iam._id)
                                    +message_to(message)
                                else 
                                    +message_from(message)

                            //- each message in messages
                            //-     //- +message_to(message) 
                            //-     if (message.sender._id === iam._id) 
                            //-         +message_to(message)
                            //-     else 
                            //-         +message_from(message)
                            //- li.stream.left
                            //-     .speech_left.left
                            //-         .payload_text
                            //-             input.payload(value=" whatever content")
                            //-             .payload_attached
                                        
                            //-         .payload_controls
                            //-             label.payload_img(for="payload_img") 
                            //-                 span.material-symbols-outlined image
                            //-             input#payload_img.payload_img(type="file")
                            //-     .payload_owner.left 
                            //-         span.payload_owner 
                            //-         span.payload_time

                            //- li.stream.right
                            //-     .payload_owner.right 
                            //-         span.payload_owner 
                            //-         span.payload_time
                            //-     .speech_right.right
                            //-         .payload_text
                            //-         input.payload(value=" whatever content")
                            //-         .payload_attached
                                    
                            //-         .payload_controls
                            //-         label.payload_img(for="payload_img")
                            //-             span.material-symbols-outlined image
                            //-         input#payload_img.payload_img(type="file")
                        //- .new_message 
                        //-     .recipient 
                        //-         label#_recipients._recipients(for="recipients") message to
                        //-         select#recipients.recipients
                        //-         option(value="-1") #{"to recipient ... "}
                        //-     .payload
                        //-         input#payload.payload(type="text")
                        //-         label.attachment(for="attachment" title="attach an image")
                        //-         span.material-symbols-outlined image
                        //-         input#attachment.attachment(type="file" title="attach an image")
                        //-         button#send.send 
                        //-         span.material-symbols-outlined(title="send message") send             
                        //-     .attachments
                    
            .timeline
                .articles_posts #{"Articles and posts"}
                +timeline(articles, comments)
            .members
                .friends
                    .members.friends #{"Friends"}
                    each friend in friends
                        +account_badge(friend)
                .others 
                    .members.others #{"Members"}
                    each other in others 
                        +account_badge(other)